<%= render "topics/header"%>
<h2 class="page-heading">New Feed</h2>
<%= render partial: 'topic', collection: @topics %>
<div class="blockquote text-right"><h2><%= link_to 'All Topics', all_topics_path %></h2><div>