<h2>ハッシュタグ <%= @tag.tagname %></h2>
  <ul>
    <% @topics.each do |topic| %>
          <%= image_tag topic.image.variant(gravity: :center, resize:"640x640^", crop:"640x640+0+0") if topic.image.attached? %>
      </li>
      <%= topic.title%>
      <%= topic.text%>
    <% end %> %>
  </ul>
-->